body{
  font-family: Arial, sans-serif;
  background:#f2f4f8;
  margin:0;
  padding:10px;
}
h1{text-align:center}
.filtros{
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
  margin-bottom:20px;
}
.categoria{
  background:#1e88e5;
  color:#fff;
  padding:10px;
  border-radius:10px;
  margin-top:20px;
}
.producto{
  background:#fff;
  margin:8px;
  padding:10px;
  border-radius:8px;
  display:flex;
  align-items:center;
  gap:10px;
}
.producto span{flex:1;font-weight:bold}
.producto input{width:60px}
#total{
  font-size:20px;
  font-weight:bold;
  text-align:right;
  margin-top:20px;
}
