body{font-family:Arial;background:#f4f6f8;margin:0}
header{text-align:center;padding:20px}
.cart-icon{width:60px}
input{padding:8px;margin:5px}
.categoria{background:#1e88e5;color:white;padding:10px;margin-top:20px;border-radius:8px}
.fila{display:grid;grid-template-columns:2fr 1fr 1fr .5fr;gap:10px;margin:5px}
footer{text-align:center;padding:20px}
button{padding:10px 20px;font-size:16px}
